.mackup_wrapper {
  margin-top: 600px;
}

.wrapper_beauty__text {
  color: #111;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
}

.price_span {
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}
